- name: Install apache2 web server
  apt: 
    name:
      - apache2
    state: present
    update_cache: yes
    cache_valid_time: 3600
  become: yes
  
- name: Install libapache2-mod-fcgid
  become: yes
  command: wget -q -O 'ftp.us.debian.org/debian/pool/main/liba/libapache2-mod-fcgid/' | sudo apt -y install libapache2-mod-fcgid
   

- name: Enable apache2 modules
  become: yes
  command: a2enmod rewrite actions alias fastcgi proxy_fcgi

- name: Upload apache2 default configuration
  become: yes
  copy: src=files/000-default.conf dest=/etc/apache2/sites-enabled/

- name: Remove default apache2 index.html file
  become: yes
  ignore_errors: yes
  command: sudo rm /var/www/html/index.html 

- name: Upload default index.php for host 
  become: yes
  copy: src=files/index.php dest=/var/www/html/ mode=0644  

- name: Restart webserver
  become: yes
  service: name=apache2 state=restarted
