- name: Install apache2 web server
  apt: 
    name:
      - apache2
    state: present
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Add the repository for libapache2-mod-fastcgi
  become: yes
  command: sudo wget https://mirrors.edge.kernel.org/ubuntu/pool/multiverse/liba/libapache-mod-fastcgi/libapache2-mod-fastcgi_2.4.7~0910052141-1.2_amd64.deb | sudo dpkg -i libapache2-mod-fastcgi_2.4.7~0910052141-1.2_amd64.deb
  
- name: Update
  become: yes
  command: sudo apt-get update 
  
- name: Install libapache2-mod-fastcgi
  apt: 
    name:
      - libapache2-mod-fastcgi
    state: present
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Enable apache2 modules
  become: yes
  command: a2enmod rewrite actions alias fastcgi proxy_fcgi

- name: Upload apache2 default configuration
  become: yes
  copy: src=files/000-default.conf dest=/etc/apache2/sites-enabled/

- name: Remove default apache2 index.html file
  become: yes
  ignore_errors: yes
  command: sudo rm /var/www/html/index.html 

- name: Upload default index.php for host 
  become: yes
  copy: src=files/index.php dest=/var/www/html/ mode=0644  

- name: Restart webserver
  become: yes
  service: name=apache2 state=restarted
